body {
    margin: 0;
    box-sizing: content-box;
    overflow-y: hidden;
    background-color: skyblue;
}

#contenedor {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;
}

#tiendas {
}
.tienda {
    border: 1px solid black;
    border-bottom: none;
    margin-top: 40px;
    background-color: white;
}

#coches {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
}

#acera {
    z-index: 1;
    background-color: darkgray;
}

#divisiona {
    border-bottom: 1px dashed white;
    background-color: rgb(44, 41, 41);
}

#divisionb {
    background-color: rgb(44, 41, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coche>img {
    filter: invert(9%) sepia(72%) saturate(6330%) hue-rotate(5deg) brightness(93%) contrast(115%);
}

.matricula {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    position: absolute;
    z-index: ;
}







.nombre {
    border: 1px solid black;
    margin: 25px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}
.puerta-poster {
}

.numero {
    margin-bottom: 15px;
    background-color: lightgrey;
    text-align: center;
}

.puerta-numero {
}

.numero,
.puerta {
    border: 1px solid black;
    padding: 10px;
}

.served {
    text-align: center;
    color: white;
    margin-top: 30px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.puerta {
    border-bottom: none;
    background-color: brown;
}

.puerta>div {
    border: 1px solid black;
    position: relative;
}

.puerta>div>div {
    border: 1px solid black;
    background-color: black;
    border-radius: 1000px;
    position: absolute;
    top: 49%;
    left: 96%;
}
.poster {
    border: 1px solid black;
    background-color: grey;
}

.emoji {
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* -------------------no tan importante------------------ */

#reloj {
    position: absolute;
    border: 1px solid black;
    top: 25%;
    left: 17px;
    border-radius: 1000px;
    background-color: white;
    z-index: 3;
    text-align: center;
}

#semaforo {
    position: absolute;
    border: 1px solid black;
    top: 25%;
    right: 30px;
    border-radius: 1000px;
    background-color: black;
    z-index: 3;
    align-items: center;
}

.verde {
    background-color: green;
    opacity: 0.3;
}

.rojo {
    background-color: red;
    opacity: 0.3;
}

.naranja {
    background-color: orange;
    opacity: 0.3;
}

.iluminado {
    opacity: 1 !important;
}

.luz {
    border-radius: 1000px;
    border: 1px solid white;
}

.palo {
    position: absolute;
    top: 25%;
    right: 30px;
    border: 1px solid black;
    background-color: black;
    z-index: 2;
}

#palo1 {
    top: 36vh;
    left: 46px;
}

#palo2 {
    top: 36vh;
    right: 46px;
}

#caminar {
    position: absolute;
    border: 1px solid black;
    top: 42%;
    color: white;
    right: 12px;
    background-color: black;
    z-index: 3;
    align-items: center;
}

#caminar>div {
    opacity: 0.3;
}